.header{
  background-size: cover;
}

ul{
  float:right;
  list-style-type: none;
  margin-top: 30px;
  min-height: 400px;
  margin-right: 60px;
  font-size: 17px;
}

ul li{
  display: inline;
}

.space{
    margin-right: 10px;
    margin-left: 5px;
    color: 'inherit';
    color: black;
    text-decoration: none;
}


.navstyle{

  padding: '10px 20px'; 
  borderBottom: '1px solid #ccc'; 
}

.itemsContainerStyle{
  text-align: right;
}

.dividerStyle{
    marginLeft: '10px';
  marginRight: '10px';
}
