.space2{
    margin-right: 25px;
    margin-left: 5px;
    color: 'inherit';
    color: rgb(253, 253, 253);
    text-decoration: none;
}

a:hover{
    background-color: rgb(243, 250, 250);
    color: black;
}

.space3{
    margin-right: 30px;
    margin-left: 5px;
    color: 'inherit';
    color: rgb(245, 243, 243);
    text-decoration: none;
}


.navstyle2{
    padding: '10px 20px'; 
    background-color: rgb(17, 14, 14);
    height: 30px;
    text-align: center;

}

.expanspace{
    margin-right: 15px;
}
.spacemore{
    margin-right: 10px;
    margin-left: 100px;
    text-decoration: none;
    color: 'inherit';
    color: rgb(252, 252, 252);
    background-color: rgb(17, 14, 14);
}